.products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 50px;
    font-family: 'Bigelow Rules', cursive;
font-family: 'Itim', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
}